### Linchine Host Debian Preseed
### File 1 of 2: preseed.cfg
### File 2 of 2: linchine.sh
###
### Safe design:
### - Does NOT auto-wipe disks
### - Does NOT auto-partition disks
### - Lets Debian Installer ask for disk/partition choices
### - Creates a temporary/default linchine user
### - linchine.sh later locks password login and sets up auto-start

### -----------------------------
### Language / keyboard
### -----------------------------
### Keep this light so the installer can still ask location/timezone info.

d-i debian-installer/language string en
d-i keyboard-configuration/xkb-keymap select us


### -----------------------------
### Network
### -----------------------------
### User can still configure Ethernet or Wi-Fi.

d-i netcfg/choose_interface select auto
d-i netcfg/hostname string linchine-host
d-i netcfg/domain string local
d-i hw-detect/load_firmware boolean true


### -----------------------------
### Debian mirror
### -----------------------------

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string


### -----------------------------
### User account
### -----------------------------
### Debian Installer needs some account before late_command runs.
### This creates a temporary appliance account.
### linchine.sh locks password login later.

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true

d-i passwd/user-fullname string Linchine User
d-i passwd/username string linchine

### Temporary installer password.
### This will be locked by linchine.sh after install.
d-i passwd/user-password password linchine
d-i passwd/user-password-again password linchine

d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false


### -----------------------------
### Clock / timezone
### -----------------------------
### Timezone is intentionally not forced.
### The installer should ask location/timezone depending on boot priority.

d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true


### -----------------------------
### Partitioning
### -----------------------------
### SAFE MODE:
### No automatic partitioning is configured.
###
### We are intentionally NOT setting:
### - partman-auto/method
### - partman-auto/choose_recipe
### - partman/confirm
### - partman/confirm_nooverwrite
###
### Result:
### Debian Installer asks before touching disks.


### -----------------------------
### Package selection
### -----------------------------

tasksel tasksel/first multiselect standard, ssh-server

d-i pkgsel/include string sudo git qemu-system-x86 qemu-system-gui qemu-utils ovmf uml-utilities python3 python3-pip python3-venv wget curl unzip p7zip-full make dmg2img genisoimage net-tools screen vim xinit xserver-xorg xterm openbox dbus-x11 whiptail open-vm-tools open-vm-tools-desktop

d-i pkgsel/upgrade select none

popularity-contest popularity-contest/participate boolean false


### -----------------------------
### Bootloader
### -----------------------------
### Do not force GRUB target.
### Installer may ask where to install bootloader.

d-i grub-installer/only_debian boolean false
d-i grub-installer/with_other_os boolean true


### -----------------------------
### Linchine install hook
### -----------------------------
### Expected ISO layout:
### /preseed.cfg
### /linchine.sh

d-i preseed/late_command string \
    if [ -f /cdrom/linchine.sh ]; then \
        cp /cdrom/linchine.sh /target/usr/local/sbin/linchine.sh; \
        chmod +x /target/usr/local/sbin/linchine.sh; \
        in-target /usr/local/sbin/linchine.sh --install; \
    else \
        echo "Linchine installer error: /cdrom/linchine.sh was missing." > /target/root/LINCHINE_INSTALL_ERROR.txt; \
    fi


### -----------------------------
### Finish
### -----------------------------

d-i finish-install/reboot_in_progress note
